# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.aps
/Installer/Install.zip
*.sdf
*.pdb
*.idb
*.opensdf
/Installer/Installer/Debug/Installer.tlog
/Installer/Debug
/Installer/Installer/Debug
/Uninstaller/Uninstaller/x64/Release
*.ipdb
*.iobj
